<h1>¡Bienvenido a iTrello!</h1>

<p>Organiza tus tareas y colabora con otros de manera eficiente. 
  Esta es una aplicación basada en la app original de Trello para la gestión y organización de tareas.</p>

<div>
  <a href="/auth/login">Iniciar Sesión</a> | 
  <a href="/auth/register">Registrarse</a>
</div>
